body,
html {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

.container {
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 0.8fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.main-content {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #E2E8F0;
    padding-bottom: 100px;
}

.sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #1992D4;
    color: white;
}

.side-title {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 50px;
    gap: 20px;
}

.side-item {
    display: flex;
    align-items: center;
    margin-left: -26px;
    margin-right: 50px;
    gap: 25px;
    font-weight: 900;
}

#side-btm {
    margin-top: 50px;
}


.top-header {
    display: flex;
}

.btm-header {
    display: flex;
}

.searchbar {
    background-color: #E2E8F0;
    border-style: none;
    height: 30px;
    width: 600px;
    border-radius: 20px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
    margin-left: 50px;
    margin-right: 80px;
}

#search,
#options {
    display: flex;
    align-items: center;
}

#search {
    gap: 20px;
}

#options {
    gap: 30px;
}

.btm-header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    margin-left: 50px;
    margin-right: 80px;
}

#intro {
    display: flex;
    align-items: center;
    gap: 20px;
}

#greeting {
    display: flex;
    flex-direction: column;
    text-align: start;
}

#username {
    margin-top: 0px;
}

#greeting-intro {
    margin-bottom: 8px;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.btn {
    background-color: #1992D4;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 20px;
}

#header-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-row-start: 1;
    grid-row-end: 3;
}

.announcements {
    margin-right: 40px;
    text-align: start;
}

#announcement-list {
    border-radius: 8px;
    background-color: white;
    padding-right: 80px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
}

.card-item>p {
    color: #636363;
    font-size: 14px;
    margin-top: -10px;
}

.trending {
    margin-right: 40px;
    margin-top: -10px;
    text-align: start;
}

#trending-list {
    border-radius: 8px;
    background-color: white;
    padding-right: 40px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.trending-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.item-text {
    color: #636363;
    font-size: 16px;
    font-weight: 600;
}

.item-sub {
    margin-top: -10px;
    font-size: 14px;
    font-weight: 400;
}
