body,
html {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: 0.8fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.main-content {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #E2E8F0;
}

.sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #1992D4;
    color: white;
}

.side-title {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 50px;
    gap: 20px;
}

.side-item {
    display: flex;
    align-items: center;
    margin-left: -26px;
    margin-right: 50px;
    gap: 25px;
    font-weight: 900;
}

#side-btm {
    margin-top: 50px;
}


.top-header {
    display: flex;
}

.btm-header {
    display: flex;
}

.searchbar {
    background-color: #E2E8F0;
    border-style: none;
    height: 30px;
    width: 600px;
    border-radius: 20px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
    margin-left: 50px;
    margin-right: 80px;
}

#search,
#options {
    display: flex;
    align-items: center;
}

#search {
    gap: 20px;
}

#options {
    gap: 30px;
}

.btm-header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    margin-left: 50px;
    margin-right: 80px;
}

#intro {
    display: flex;
    align-items: center;
    gap: 20px;
}

#greeting {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: -10px;
}